.o_list_view .thumb-50 img {
  width: 50px !important;
  height: 50px !important;
  object-fit: cover;
  border-radius: 6px;
}

.o_real_estate_kanban img.img-fluid.rounded-top {
  width: 100%;
  height: 200px;
  display: block;
  object-fit: cover;
  background-color: #f5f5f5;
}

@media (max-width: 576px) {
  .o_real_estate_kanban img.img-fluid.rounded-top {
    height: 160px;
  }
}

@media (min-width: 992px) {
  .o_real_estate_kanban img.img-fluid.rounded-top {
    height: 220px;
  }
}